<!doctype html>
<html>
    <head>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>Flask</title>
    </head>
    <body>
        <table class="table">
            <thead class="active">
                <th>Name</th>
                <th>Ingredients</th>
                <th>Time</th>
                <th>Recipe</th>
            </thead>
            <tbody>
                {% for dish in dishes %}
                <tr>
                    <td>{{ dish.name }}</td>
				<td> {{ dish.ingredients|join(', ') }}
		    </td>
                    <td>{{ dish.time }}</td>
                    <td>{{ dish.recipe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
