<!doctype html>
<html>
    <head>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href= "{{ url_for( 'static', filename= 'styles/style.css' ) }}" rel="stylesheet" >
        <script src = "{{ url_for( 'static', filename='jquery-3.2.1.min.js' ) }}"></script>
        <script src = "{{ url_for( 'static', filename='searchResult.js' ) }}"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" async ></script>
	<title>Recipes</title>
    </head>
    <body>
	<div class="search">
		<form class="navbar-form navbar-left" method="POST" id="searchForm">
		    <div class="form-group">
			<input type="text" class="form-control" id="ingredient" name="ingredient" placeholder="Search">
		    </div>
			<input id="btn_add" type="button" class="btn btn-default" value="ADD"/>
		
		    <div>
			<ul id="ingredientsList">
 			</ul>
		    </div>
			<input id="btn_search" type="submit" class="btn btn-default" value="Search"/>
		</form>
	</div>
	<div class="div-table">
	    <table class="table">
		<thead class="active">
		    <th>Name</th>
		    <th>Ingredients</th>
		    <th>Time</th>
		    <th>Recipe</th>
		</thead>
		<tbody>
		    {% for dish in dishes %}
		    <tr>
			<td>{{ dish.name }}</td>
				    <td> {{ dish.ingredients|join(', ') }}
			</td>
			<td>{{ dish.time }}</td>
			<td>{{ dish.recipe }}</td>
		    </tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>
    </body>
</html>
